mat-card-footer {
  height: 5px;
}

mat-card {
  min-width: 230px;
  background: #e5e5e5;
}

mat-card-header {
  img {
    width: 100%;
  }
}

mat-card-actions {
  justify-content: center;
}

mat-card-title {
  text-align: end;
}

mat-card-content {
  text-align: center;
}
