.main-row {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

app-user-block {
  position: absolute;
  right: 20px;
}

app-filtering {
  display: flex;
  justify-content: center;
}

header {
  padding-inline: 4rem;
  background: #c4c4c4;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 7rem;
  padding-block: 1rem;
}
